@using Equinox.Models
@{
    Layout = "_Layout";

    string controller = ViewContext.RouteData.Values["controller"]?.ToString() ?? "";
    string action = ViewContext.RouteData.Values["action"]?.ToString() ?? "";
}

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="~/Images/EquinoxLabel.png" class="img-fluid bg-white" width="100" />
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link @(controller == "Club" && action == "List" ? "active" : "")"
                           asp-controller="Club" asp-action="List">Clubs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(controller == "EquiClass" && action == "Index" ? "active" : "")"
                           asp-controller="EquiClass" asp-action="Index">Classes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(controller == "Membership" && action == "List" ? "active" : "")"
                           asp-controller="Membership" asp-action="List">Membership</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(controller == "PrivateClass" && action == "List" ? "active" : "")"
                           asp-controller="PrivateClass" asp-action="List">Private Training</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    @{
                        var cart = EquinoxCookies.GetReservationItemsFromCookie(Context.Request, "PreReservationCart");
                        var cartCount = cart.Count;

                    }
                    <a asp-controller="EquiClass" asp-action="Cart" class="nav-item nav-link">
                        Cart
                        <i class="fa fa-shopping-cart"></i>
                        @if (cartCount > 0)
                        {
                            <span class="badge bg-light text-black">@cartCount</span>
                        }
                    </a>
                    <li class="nav-item">
                        <a class="nav-link @(controller == "Admin" ? "active" : "")"
                           asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    @if (TempData.Keys.Contains("Message"))
    {
        <div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
            <strong>@TempData["Message"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    @RenderBody()
</main>

